$card = #d5aca9
$button = #9693bd
$sideNav = #bdb6ac
$appBar = #82a3a1
$page = #dfdebe
$comment = #e3b5a4
$txtNormal = #508CA4
$txtBold  = #856084
$swatch = #bdb6f2

:root
  --q-color-card $card
  --q-color-button $button
  --q-color-sideNav $sideNav 
  --q-color-appBar $appBar
  --q-color-page  $page
  --q-color-comment $comment
   --q-color-txtNormal $txtNormal
  --q-color-txtBold $txtBold
  --q-color-swatch $swatch 

.bg-card
  background: $card !important
  background: var(--q-color-card) !important 

.bg-button
  background: $button !important
  background: var(--q-color-button) !important

.bg-sideNav
  background: $sideNav !important
  background: var(--q-color-sideNav) !important

.bg-appBar
  background: $appBar !important
  background: var(--q-color-appBar) !important

.bg-page 
  background: $page  !important
  background: var(--q-color-page ) !important

.bg-comment 
  background: $comment   !important
  background: var(--q-color-comment ) !important

.bg-txtNormal 
  background: $txtNormal    !important
  background: var(--q-color-txtNormal ) !important 

.bg-txtBold
  background: $txtBold   !important
  background: var(--q-color-txtBold ) !important   
  
.text-txtNormal
  color: $txtNormal !important
  color: var(--q-color-txtNormal) !important

.text-txtBold
  color: $txtNormal!important
  color: var(--q-color-txtBold) !important

.bg-swatch 
  background: $swatch   !important
  background: var(--q-color-swatch ) !important

.text-swatch 
  color $swatch   !important
  color: var(--q-color-swatch )